*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family :'Poppins',sans-serif;
}
.header {
    width : 100%;
    height :100vh;
    background : #040202;
}
.header .toggle{
    position:absolute;
    top :50%;
    right :0%;
    transform:translateY(50%);
    height:50px;
    width :50px;
    background:#323532;
    display : flex;
    align-items:center;
    justify-content: center;
    border-radius:200%;
    color : #ffffff;
    font-size: 50px;
    transform: rotate(180deg);
}
.header .size .toggle {
    transform: rotate(0deg);
}
.header .image-text .header-text
{
    display:flex;
    flex-direction: column;
}
.header-text .name{
    font-weight :600;
}
.header-text .group{
    margin-top:-2px;
}

.side-nav {
    
    width :250px;
    height :100%;
    background :#121212;
    position :fixed;
    top :0;
    left : 0;
    padding:0px 0px ; 
}
.side-nav.size{
    width :50px;
    height :100%;    
}
.side-nav.size .text{
   opacity: 0;
}
.side-nav.size .fa-angle-down {
    display: none;
}
.side-nav.size .logo-img{
    width:60%;
 }
.side-nav.size .image-container{
    width :50%
}
.side-nav .image-text {
   display:flex;
   align-items:center;
   margin-bottom: 20px;
   margin-left:-20px;
   width : 10px;
}
.side-nav .text
{
    font-size :18px;
    font-weight:500;
    color:rgb(255, 255, 255)
}
.side-nav .image{
    min-width: 120px;
    display :flex;
    align-items:center;
    margin-right: 10px;
}

.line
{
    width :100%;
    height:20px;
    background-color: #4d4444;
}
.logo-img 
{
  
    width:100px;
}
.nav-links{
    list-style: none;
    position: relative;
}
.nav-links li{
    position: relative;
    list-style: none;
    transition:all 0.4s ease;
   
}
.nav-links li:hover a {
    color:#1d1b31;
  
}
.nav-links li a {
    color :#fff;
    text-decoration: none;
    padding :10px 14px;
    display :flex;
    align-items:center;
    text-decoration: none;
}
.nav-links li a i{
    font-size:22px;
    margin-right :20px;
}
.nav-links li .dropdown
{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.side-nav .nav-links li .sub-menu {
    padding :6px 6px 14px 80px;
    margin-top:-10px;
    background: #1d1b31;
    
}

.side-nav .nav-links li .sub-menu a{
    color: #fff;
    font-size :16px;
    padding :5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition : all 0.3s ease;
   
}




.side-nav .nav-links li .sub-menu a:hover{
    top: 0;
    opacity: 1;
    pointer-events: auto;

}

.side-nav.close .nav-links li .sub-menu{
    position :absolute;
    left:100%;
    top:-10px;
    margin-top:0;
    padding :10px 20px;
    border-radius: 0px 6px 6px 0px;
    transition :all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.side-nav.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
}

.side-nav .nav-links li .sub-menu .link_name{
    display:none;
}
.side-nav.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity :1;
    display:block;
    
}
.image-container {
    
    background-color: #121212;
    width: 100%;
    max-height: 100%;
    overflow: scroll !important;
    white-space: nowrap;
    display: flex;
    flex-direction: column; /* Sử dụng flexbox để căn hình ảnh theo chiều dọc */
    justify-content: flex-start;
}
*::-Webkit-scrollbar{
    display: none;
}
.image {
    width: 10%; /* Đặt kích thước chiều rộng */
    height: auto; /* Tự động tính chiều cao để giữ tỷ lệ khung hình */
    padding: 10px;
    margin-bottom: 10px; /* Khoảng cách giữa các hình ảnh theo chiều dọc */
    
}

.dropdown {
    font-size: 20px;
    text-align: right; /* Căn văn bản bên phải */
}
